{% extends "layout.html" %}
{% block content %}
<div class="content-block">
  <h1>San Francisco 311 Predictions</h1>
  <p class="lead">How long do most tickets take to complete?</p>
  <img src="static/images/311_days.png", width="100%">
</div>
<!-- <div class="content-block">
  <h1>Supervisor Districts</h1>
  <p class="lead">How does supervisor district impact response times?  Let us look.</p>
  <img src="static/images/311_days.png", width="100%">
</div> -->
<div class="content-block">
  <h3>San Francisco Neighborhoods</h3>
  <p class="lead">Where do the most SF-311 tickets come from?</p>
  <img src="static/images/RequestByNeighborhood.png", width="100%">
</div>
{% endblock %}
